<div>
  <img class="img-responsive heading-img" src="http://i.imgur.com/GxaU1bQ.png">
  <h2 class="text-center">designing productivity for peace of mind</h2>
</div>

<img class="img-responsive cherry-img" src="http://i.imgur.com/Fsp5lwd.jpg?1">

<div class="team-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">ABOUT </h2>
            <p class="text-center">KAIZEN
              <br>
              <br>
              Before it’s explained what Kaizen is, it is important to understand how it came to be. The 33rd Web Development Immersive cohort in San Francisco’s General Assembly was tasked to form into randomly assigned teams to create a complete web application in one week. This team, the founders of Kaizen - Margaret Ha, Martin Uriarte, Sophie Luo, and Vladyslav Kuliani - were charged with creating an Enterprise Software System, a vague concept at best. It was difficult to identify the most critical enterprise need, but Uriarte knew where to turn and made a phone call. That phone call was to a friend in a large enterprise with challenged efficiency and constant project design struggles that are costly and political to maneuver around. She wondered if there was a site that would design workflows to increase efficiency and as a result improve the quality life for everyone. The team agreed. Efficiency is critical to making enterprises work better and faster and they knew that they could design a system that would make not only their tasks, but the tasks of others less time consuming, leaving them more time to focus on the things in life that are most important.
            <br>
            <br>
            The name Kaizen comes from the Japanese practice of continuous improvement, based on these guiding principles:
            <br>
            <br>
        		Good processes bring good results
            <br>
        		Speak with data, manage by facts
            <br>
            Self-discipline through accountability
            <br>
        		Work as a team
            <br>
            <br>
            When used in enterprise and applied to the workplace, Kaizen refers to activities that continuously maximize the efficiency of all functions from the top down and bottom up.
            <br>
            <br>
            <img class="img-responsive kanji-img" src="http://i.imgur.com/dOdKvxs.png">
            <br>
            <br>
            The kanji is actually Kango or Sino-Japanese which are Japanese words that borrowed elements from the Chinese language. Kai, the 1st character, is written with the “Change” character and the 2nd character, Zen, is written with the “Good” character which in essence means that change is good. With change comes improvement, with that comes efficiency, and in that spirit... The changes Kaizen makes to your work are improvements that maximize efficiency and provides peace of mind for all.</p>
        </div>
  </div>
</div>

<div class="team-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">TEAM </h2>
            <p class="text-center">
              Coming together is a beginning.
              <br>Keeping together is progress.
              <br>Working together is success.
            </p>
        </div>
        <div class="row people">
            <div class="col-md-3 col-sm-3 item">
              <img class="img-circle" src="http://i.imgur.com/RlekXzo.jpg">
              <h3 class="name">Martin Uriarte</h3>
              <p class="title">Project manager &amp; art director</p>
                <div class="social">
                  <a href="#"><i class="fa fa-facebook-official"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
              <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
            </div>
            <div class="col-md-3 col-sm-3 item">
              <img class="img-circle" src="http://i.imgur.com/vWVo3FS.jpg?2">
                <h3 class="name">Margaret Ha</h3>
                <p class="title">web application technology lead</p>
                  <div class="social">
                    <a href="#"><i class="fa fa-facebook-official"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                  </div>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
            </div>
            <div class="col-md-3 col-sm-3 item">
              <img class="img-circle" src="http://i.imgur.com/exRGleQ.jpg">
                <h3 class="name">Sophie Luo</h3>
                <p class="title">algorithm engineer lead</p>
                  <div class="social">
                    <a href="#"><i class="fa fa-facebook-official"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                  </div>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
            </div>
            <div class="col-md-3 col-sm-3 item">
              <img class="img-circle" src="http://i.imgur.com/0bCJPYE.jpg">
                <h3 class="name">Vladyslav Kuliani</h3>
                <p class="title">Information architect</p>
                  <div class="social">
                    <a href="#"><i class="fa fa-facebook-official"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                  </div>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
            </div>
        </div>
    </div>
</div>
