<div>
  <img class="img-responsive heading-img" src="http://i.imgur.com/GxaU1bQ.png">
  <h2 class="text-center">designing productivity for peace of mind</h2>
</div>

<img class="img-responsive" src="http://i.imgur.com/Fsp5lwd.jpg?1">

<div class="team-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">ABOUT </h2>
            <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
        </div>
  </div>
</div>

<div class="team-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">TEAM </h2>
            <p class="text-center">Coming together is a beginning. Keeping together is progress. Working together is success.</p>
        </div>
        <div class="row people">
            <div class="col-md-3 col-sm-3 item">
              <img class="img-circle" src="http://i.imgur.com/RlekXzo.jpg">
              <h3 class="name">Martin Uriarte</h3>
              <p class="title">Project manager &amp; art director</p>
                <div class="social">
                  <a href="#"><i class="fa fa-facebook-official"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
              <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
            </div>
            <div class="col-md-3 col-sm-3 item">
              <img class="img-circle" src="http://i.imgur.com/vWVo3FS.jpg?2">
                <h3 class="name">Margaret Ha</h3>
                <p class="title">web application technology lead</p>
                  <div class="social">
                    <a href="#"><i class="fa fa-facebook-official"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                  </div>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
            </div>
            <div class="col-md-3 col-sm-3 item">
              <img class="img-circle" src="http://i.imgur.com/exRGleQ.jpg">
                <h3 class="name">Sophie Luo</h3>
                <p class="title">algorithm engineer lead</p>
                  <div class="social">
                    <a href="#"><i class="fa fa-facebook-official"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                  </div>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
            </div>
            <div class="col-md-3 col-sm-3 item">
              <img class="img-circle" src="http://i.imgur.com/0bCJPYE.jpg">
                <h3 class="name">Vladyslav Kuliani</h3>
                <p class="title">Information architect</p>
                  <div class="social">
                    <a href="#"><i class="fa fa-facebook-official"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                  </div>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
            </div>
        </div>
    </div>
</div>
