  <div>
      <img class="img-responsive heading-img" src="http://i.imgur.com/GxaU1bQ.png">
      <h2 class="text-center">designing productivity for peace of mind</h2>
    </div>

    <img class="img-responsive" src="http://i.imgur.com/nIbeeWc.jpg">

    <div class="features-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Features</h2>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
            </div>
            <div class="row features">
                <div class="col-md-4 col-sm-6 item"><i class="fa fa-clock-o icon"></i>
                    <h3 class="name">Always available</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                </div>
                <div class="col-md-4 col-sm-6 item"><i class="fa fa-list-alt icon"></i>
                    <h3 class="name">Customizable</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                </div>
                <div class="col-md-4 col-sm-6 item"><i class="fa fa-leaf icon"></i>
                    <h3 class="name">Efficient </h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                </div>
            </div>
        </div>
        <img class="img-responsive" src="http://i.imgur.com/qd2wH2H.jpg">
    </div>

    <div class="features-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Compatibility </h2>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
            </div>
            <div class="row features">
                <div class="col-md-4 col-sm-6 item"><i class="fa fa-laptop icon"></i>
                    <h3 class="name">Computers </h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                </div>
                <div class="col-md-4 col-sm-6 item"><i class="fa fa-tablet icon"></i>
                    <h3 class="name">Tablets </h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                </div>
                <div class="col-md-4 col-sm-6 item"><i class="fa fa-mobile-phone icon"></i>
                    <h3 class="name">Cellphones </h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                </div>
            </div>
        </div>
        <img class="img-responsive" src="http://i.imgur.com/g4NaoN0.jpg">
        <h3 class="text-center">"WHAT WE DO TODAY IS WHAT MATTERS MOST"</h3>
    </div>

    <div>
    </div>

    <div class="footer-basic">
        <footer>
            <div class="social">
              <a href="#"><i class="icon ion-social-instagram"></i></a>
              <a href="https://github.com/TheMartinUriarte/kaizen"><i class="fa fa-github"></i></a>
              <a href="mailto: themartinuriarte.programmer@gmail.com"><i class="fa fa-envelope"></i></a>
            </div>

            <ul class="list-inline">
                <li><a href="#" target="_top">Home</a></li>
                <li><a href="#">About </a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>

            <p class="copyright">Kaizen © 2017</p>
        </footer>
    </div>
