<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You are assigned a new task, <%= @developer.name %></h1>
    <p>
      Hi <%= @developer.name %>,
      you are assigned a new task by your manager. Please go to <%= @url %> and check.<br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
