  <ul class="nav menu-options">
    <li class="text-muted text-xs">
      <span>Navigation</span>
    </li>
    <li>
      <%= link_to "Dashboard", profile_path, class: "link"%>
    </li>
    <li>
      <%= link_to "View All Skills", skills_path%>
    </li>
  </ul>
