<h1>This is new.html from skills controller</h1>
<%= form_for @skill do |f| %>
  <span>Name: </span>
  <%= f.text_field :name %><br>
  <span class="description">Description: </span>
  <%= f.text_area :description %><br>
  <%= f.submit(class: 'btn btn-success') %>
<% end %>
