<h1>This is show.html from skills controller</h1>
<p><%= @skill.name %></p>
<p><%= @skill.description %></p>
<%= link_to("Edit", edit_skill_path(@skill.name), class: 'btn btn-info') %> <%= link_to("Delete", @skill, :method => :delete, data: {confirm: 'Are you sure you want to delete this skill?'}, class: 'btn btn-danger') 
