<h1>Projects#index</h1>
<p>Find me in app/views/projects/index.html.erb</p>

<% @projects.each do |project| %>
  <%= link_to project.title, project_path(project.title) %><br>
  <%= project.description %><br>
  <%= project.deadline %><br>
<% end %>
