<h1>Projects#index</h1>
<p>Find me in app/views/projects/index.html.erb</p>

<div>
  <% @projects.each do |project| %>
    <p>
      <%= link_to project.title, project_path(project.title) %><br>
      <%= project.deadline %><br>
      <%= project.description %><br>
    </p>
  <% end %>
</div>
